
<div class="col-md-12">
    <div class="jumbotron">
        <?php if(strlen($mes1)>0){ ?>
        <h1><i class="fa fa-heart"></i> OOOPS!</h1>
        <p><?php echo $mes1 ?></p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a></p>
        <?php } ?>

        <?php if(strlen($mes2)>0){ ?>
            <h1><i class="fa fa-heart"></i> OOOPS!</h1>
            <p><?php echo $mes2 ?></p>
            <p><a class="btn btn-danger btn-lg" href="#" role="button">Learn more</a></p>
        <?php } ?>

    </div>
</div>
</div>
</div>
